<!-- <div class="navigation-panel">
    <div class="navigation-panel-brand">L<span [ngClass]="currentPanelState">ogo</span></div>
    <ul class="navigation-panel-menu" *ngIf="links && links.length > 0">
      <li *ngFor="let link of links; let i = index" [class.active]="link.active">
        <a [routerLink]="link.url" 
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact: true}">
          <i class="fas fa-home" [ngClass]="link.iconClass"></i>
          <span [ngClass]="currentPanelState" (click)="toggle(i)">{{ link.text }}</span>
        </a>
      </li>
    </ul>
  </div> -->


  <ul id="accordion" class="accordion" *ngIf="menus && menus.length > 0">
    <div class="navigation-panel-brand">S<span [ngClass]="currentPanelState">adarLy</span></div>
    <ng-container *ngFor="let menu of menus; let i = index">
      <li  [class.active]="menu.active" >
        <div [routerLink]="menu.url"  class="menu"  (click)="toggle(i)" >
          <i [class]="menu.iconClass"></i>
          <span [ngClass]="currentPanelState" >
            {{ menu.text }}
              <i class="fa fa-chevron-down" *ngIf="menu.submenu"></i>
           </span> 
        </div>
        <ul class="submenu" #submenu 
          [style.height.px]="menu.active ? submenu.scrollHeight : 0">
          <ng-container *ngFor="let submenu of menu.submenu">
            <li ><a [routerLink]="submenu.url">{{ submenu.name }}</a></li>
          </ng-container>
        </ul>
     </li>
    </ng-container>
  
  </ul>  