$nav-panel-background: #3B4D63;
$nav-panel-hover: #38495F;
$nav-panel-active: darken(#38495F, 2%);
$link-unvisted: #82ff80;
$text-color-brand:#f71e1e;



  .navigation-panel-brand {
    height: 75px;
    line-height: 75px;
    padding-left: 2rem;
    font-size: 2.5rem;
    color: $text-color-brand;
    font-weight: 700;
    
    span {
      transition: opacity 0.2s;
      color: $nav-panel-background;
      &.open {
        opacity: 1;
      }
      &.close {
        opacity: 0;
      }
      &.collapse {
        opacity: 0;
      }
    }
  }



/* Show submenu */
.accordion {
	width: 100%;
	max-width: 360px;
	margin: auto;
	background: #fff;
  border-radius: 4px;
  
	.menu {
		position: relative;
		padding: 15px 15px 15px 45px;
		color: #4d4d4d;
		font-weight: bold;
		border-bottom: 1px solid #ccc;
		cursor: pointer;
    transition: all 0.4s ease;
    
	}
	li {
		&:last-child {
			.menu {
				border-bottom: 0;
			}
			.submenu {
				border-radius: 0 0 4px 4px;
				li {
					&:last-child {
						border-bottom: 0;
					}
				}
			}
		}
		i {
			position: absolute;
			top: 1.2rem;
			left: 1rem;
			color: #595959;
			transition: all 0.4s ease;
    }
    
		i.fa-chevron-down {
			right: 1rem;
			left: auto;
    }
  
  
	}
	li.active {
		i.fa-chevron-down {
			transform: rotate(180deg);
		}
		.menu {
			color: #b63b4d;
		}
		i {
			color: #b63b4d;
		}
  }
  
  span {
      transition: opacity 0.2s;
      color: $nav-panel-background;
      &.open {
        opacity: 1;
      }
      &.close {
        opacity: 0;
      }
      &.collapse {
        opacity: 0;
      }
    }
}
.submenu {
	height: 0;
	overflow: hidden;
	background: #444359;
	font-size: 14px;
	transition: height 0.4s ease;
	li {
		border-bottom: 1px solid #4b4a5e;
	}
	a {
		display: block;
		text-decoration: none;
		color: #d9d9d9;
		padding: 12px;
		padding-left: 42px;
		transition: all 0.25s ease-in-out;
		&:hover {
			background: #b63b4d;
			color: #fff;
		}
	}
}



