<div  class="topnav-dropdown-header"><span 
        class="notification-title">Notifications</span>
        <a  href="javascript:" class="clear-noti">
        Clear All </a>
</div>

<ul class="">
    <li  class="notification-message"><a 
        >
            <div  class="media"><span  class="avatar"><img 
                        alt="" src="assets/images/avatar-01.jpg"></span>
                <div  class="media-body">
                    <p  class="noti-details"><span  class="noti-title">John
                            Doe</span> added new task <span  class="noti-title">Patient appointment
                            booking</span></p>
                    <p  class="noti-time"><span  class="notification-time">4 mins
                            ago</span></p>
                </div>
            </div>
        </a>
    </li>
    <li  class="notification-message"><a 
        >
            <div  class="media"><span  class="avatar"><img 
                        alt="" src="assets/images/avatar-01.jpg"></span>
                <div  class="media-body">
                    <p  class="noti-details"><span  class="noti-title">John
                            Doe</span> added new task <span  class="noti-title">Patient appointment
                            booking</span></p>
                    <p  class="noti-time"><span  class="notification-time">4 mins
                            ago</span></p>
                </div>
            </div>
        </a>
    </li>
    <li  class="notification-message"><a 
        >
            <div  class="media"><span  class="avatar"><img 
                        alt="" src="assets/images/avatar-01.jpg"></span>
                <div  class="media-body">
                    <p  class="noti-details"><span  class="noti-title">John
                            Doe</span> added new task <span  class="noti-title">Patient appointment
                            booking</span></p>
                    <p  class="noti-time"><span  class="notification-time">4 mins
                            ago</span></p>
                </div>
            </div>
        </a>
    </li>
    <li  class="notification-message"><a 
        >
            <div  class="media"><span  class="avatar"><img 
                        alt="" src="assets/images/avatar-01.jpg"></span>
                <div  class="media-body">
                    <p  class="noti-details"><span  class="noti-title">John
                            Doe</span> added new task <span  class="noti-title">Patient appointment
                            booking</span></p>
                    <p  class="noti-time"><span  class="notification-time">4 mins
                            ago</span></p>
                </div>
            </div>
        </a>
    </li>
    <li  class="notification-message"><a 
        >
            <div  class="media"><span  class="avatar"><img 
                        alt="" src="assets/images/avatar-01.jpg"></span>
                <div  class="media-body">
                    <p  class="noti-details"><span  class="noti-title">John
                            Doe</span> added new task <span  class="noti-title">Patient appointment
                            booking</span></p>
                    <p  class="noti-time"><span  class="notification-time">4 mins
                            ago</span></p>
                </div>
            </div>
        </a>
    </li>
    <li  class="notification-message"><a 
        >
            <div  class="media"><span  class="avatar"><img 
                        alt="" src="assets/images/avatar-01.jpg"></span>
                <div  class="media-body">
                    <p  class="noti-details"><span  class="noti-title">John
                            Doe</span> added new task <span  class="noti-title">Patient appointment
                            booking</span></p>
                    <p  class="noti-time"><span  class="notification-time">4 mins
                            ago</span></p>
                </div>
            </div>
        </a>
    </li>
    <li  class="notification-message"><a 
        >
            <div  class="media"><span  class="avatar"><img 
                        alt="" src="assets/images/avatar-01.jpg"></span>
                <div  class="media-body">
                    <p  class="noti-details"><span  class="noti-title">John
                            Doe</span> added new task <span  class="noti-title">Patient appointment
                            booking</span></p>
                    <p  class="noti-time"><span  class="notification-time">4 mins
                            ago</span></p>
                </div>
            </div>
        </a>
    </li>
    <li  class="notification-message"><a 
        >
            <div  class="media"><span  class="avatar"><img 
                        alt="" src="assets/images/avatar-01.jpg"></span>
                <div  class="media-body">
                    <p  class="noti-details"><span  class="noti-title">John
                            Doe</span> added new task <span  class="noti-title">Patient appointment
                            booking</span></p>
                    <p  class="noti-time"><span  class="notification-time">4 mins
                            ago</span></p>
                </div>
            </div>
        </a>
    </li>
</ul>