<div class="dropdown" #myDropdown tnDropdown>
    <span class="fake-link dropdown-toggle greetings" tnDropdownToggle>
   
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg>
    </span>
    <ul class="dropdown-menu" tnDropdownMenu>
      <div  class="topnav-dropdown-header"><span 
        class="notification-title">Notifications</span>
        <a  href="javascript:" class="clear-noti">
        Clear All </a>
</div>

<ul class="">
    <li  class="notification-message"><a 
        >
            <div  class="media"><span  class="avatar"><img 
                        alt="" src="assets/images/avatar-01.jpg"></span>
                <div  class="media-body">
                    <p  class="noti-details"><span  class="noti-title">John
                            Doe</span> added new task <span  class="noti-title">Patient appointment
                            booking</span></p>
                    <p  class="noti-time"><span  class="notification-time">4 mins
                            ago</span></p>
                </div>
            </div>
        </a>
    </li>
    <li  class="notification-message"><a 
        >
            <div  class="media"><span  class="avatar"><img 
                        alt="" src="assets/images/avatar-01.jpg"></span>
                <div  class="media-body">
                    <p  class="noti-details"><span  class="noti-title">John
                            Doe</span> added new task <span  class="noti-title">Patient appointment
                            booking</span></p>
                    <p  class="noti-time"><span  class="notification-time">4 mins
                            ago</span></p>
                </div>
            </div>
        </a>
    </li>
    <li  class="notification-message"><a 
        >
            <div  class="media"><span  class="avatar"><img 
                        alt="" src="assets/images/avatar-01.jpg"></span>
                <div  class="media-body">
                    <p  class="noti-details"><span  class="noti-title">John
                            Doe</span> added new task <span  class="noti-title">Patient appointment
                            booking</span></p>
                    <p  class="noti-time"><span  class="notification-time">4 mins
                            ago</span></p>
                </div>
            </div>
        </a>
    </li>
    <li  class="notification-message"><a 
        >
            <div  class="media"><span  class="avatar"><img 
                        alt="" src="assets/images/avatar-01.jpg"></span>
                <div  class="media-body">
                    <p  class="noti-details"><span  class="noti-title">John
                            Doe</span> added new task <span  class="noti-title">Patient appointment
                            booking</span></p>
                    <p  class="noti-time"><span  class="notification-time">4 mins
                            ago</span></p>
                </div>
            </div>
        </a>
    </li>
    <li  class="notification-message"><a 
        >
            <div  class="media"><span  class="avatar"><img 
                        alt="" src="assets/images/avatar-01.jpg"></span>
                <div  class="media-body">
                    <p  class="noti-details"><span  class="noti-title">John
                            Doe</span> added new task <span  class="noti-title">Patient appointment
                            booking</span></p>
                    <p  class="noti-time"><span  class="notification-time">4 mins
                            ago</span></p>
                </div>
            </div>
        </a>
    </li>
    <li  class="notification-message"><a 
        >
            <div  class="media"><span  class="avatar"><img 
                        alt="" src="assets/images/avatar-01.jpg"></span>
                <div  class="media-body">
                    <p  class="noti-details"><span  class="noti-title">John
                            Doe</span> added new task <span  class="noti-title">Patient appointment
                            booking</span></p>
                    <p  class="noti-time"><span  class="notification-time">4 mins
                            ago</span></p>
                </div>
            </div>
        </a>
    </li>
    <li  class="notification-message"><a 
        >
            <div  class="media"><span  class="avatar"><img 
                        alt="" src="assets/images/avatar-01.jpg"></span>
                <div  class="media-body">
                    <p  class="noti-details"><span  class="noti-title">John
                            Doe</span> added new task <span  class="noti-title">Patient appointment
                            booking</span></p>
                    <p  class="noti-time"><span  class="notification-time">4 mins
                            ago</span></p>
                </div>
            </div>
        </a>
    </li>
    <li  class="notification-message"><a 
        >
            <div  class="media"><span  class="avatar"><img 
                        alt="" src="assets/images/avatar-01.jpg"></span>
                <div  class="media-body">
                    <p  class="noti-details"><span  class="noti-title">John
                            Doe</span> added new task <span  class="noti-title">Patient appointment
                            booking</span></p>
                    <p  class="noti-time"><span  class="notification-time">4 mins
                            ago</span></p>
                </div>
            </div>
        </a>
    </li>
</ul>
    </ul>
</div>