.dateTime__wrapper{
    display: flex;
}

.SearchBox__input {
    width: 84%;
}    

.form-group{
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
}

.btn__wrapper{
    display: flex;
    justify-content: flex-end;
}

.label-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 2.14;
    color: #222939;
    text-align: left;
    margin-bottom: 8px;
}