<div class="select">
    <div class="label-select"><label for="">Supplier Type</label>
      <div class="select-wrapper">
        <select id="mySelect" name="" class="category-select"  >
          <option value="">Select Supplier Type </option>
          <option   >DropShippers</option>
          <option   >WholeSellers</option>
          <option   >Liquidator</option>
          <option   >Manufactures</option>
        </select>
        <div class="icon-select">
          <svg width="16px" height="16px" viewBox="0 0 1024 1024" data-aut-id="icon" class=""
              fill-rule="evenodd">
              <path class="rui-u_VZV"
                d="M512 601.6l-268.8-264.533h-72.533v72.533l341.333 341.333 341.333-341.333v-72.533h-72.533l-268.8 264.533z">
              </path>
            </svg>
        </div>
      </div>
    </div>
  </div>


  <div class="select">
    <div class="label-select"><label for="">Locations</label>
      <div class="select-wrapper">
        <select id="mySelect" name="" class="category-select"  >
          <option value="">Select Location </option>
          <option   >All</option>
          <option   >America</option>
          <option   >Europe</option>
          <option   >Africa</option>
          <option   >Asia</option>
          <option   >Others</option>
        </select>
        <div class="icon-select">
          <svg width="16px" height="16px" viewBox="0 0 1024 1024" data-aut-id="icon" class=""
              fill-rule="evenodd">
              <path class="rui-u_VZV"
                d="M512 601.6l-268.8-264.533h-72.533v72.533l341.333 341.333 341.333-341.333v-72.533h-72.533l-268.8 264.533z">
              </path>
            </svg>
        </div>
      </div>
    </div>
  </div>



  <div class="page-layout__content">
    <div class="page-layout__content-container">
        <div class="panel">
            <h3>Shipping</h3>
           <div class="item-catalog__wrapper">
                <div class="box">
                   <h4 class="box-title">Shipping from</h4>
                   <input type="text" class="filter-Shipping__input" >

                   <div class="from">
                    <span class="span-popular">Popular</span>
                  
                    <ul>    
                     <li>
                       <label class="c-checkbox">
                         <input class="c-checkbox__input" type="checkbox"/>
                             <div class="c-checkbox__icon">
                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect></svg>
               </div><span class="c-checkbox__label">All</span>
                       </label>
                       <ul style="transform: translateX(30px);">
                         <li>
                           <label class="c-checkbox">
                             <input class="c-checkbox__input" type="checkbox"/>
                                 <div class="c-checkbox__icon">
                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect></svg>
               </div><span class="c-checkbox__label">America</span>
                           </label>
                         </li>
                         <li>
                           <label class="c-checkbox">
                             <input class="c-checkbox__input" type="checkbox"/>
                                 <div class="c-checkbox__icon">
                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect></svg>
               </div><span class="c-checkbox__label">Europe</span>
                           </label>
                         </li>
                         <li>
                           <label class="c-checkbox">
                             <input class="c-checkbox__input" type="checkbox"/>
                                 <div class="c-checkbox__icon">
                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect></svg>
               </div><span class="c-checkbox__label">Africa</span>
                           </label>
                         </li>
                         <li>
                             <label class="c-checkbox">
                               <input class="c-checkbox__input" type="checkbox"/>
                                   <div class="c-checkbox__icon">
                   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect></svg>
                 </div><span class="c-checkbox__label">Asia</span>
                             </label>
                           </li>
                       </ul>
                     </li>
                   </ul>
                   </div>

                 

  
                </div>
                <div class="box">
                    <h4 class="box-title">Shipping to</h4>
                    <input type="text" class="filter-Shipping__input" >

                 <div class="to">
                    <span class="span-popular">Popular</span>
                    <ul>    
                     <li>
                       <label class="c-checkbox">
                         <input class="c-checkbox__input" type="checkbox"/>
                             <div class="c-checkbox__icon">
                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect></svg>
               </div><span class="c-checkbox__label">All</span>
                       </label>
                       <ul style="transform: translateX(30px);">
                         <li>
                           <label class="c-checkbox">
                             <input class="c-checkbox__input" type="checkbox"/>
                                 <div class="c-checkbox__icon">
                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect></svg>
               </div><span class="c-checkbox__label">America</span>
                           </label>
                         </li>
                         <li>
                           <label class="c-checkbox">
                             <input class="c-checkbox__input" type="checkbox"/>
                                 <div class="c-checkbox__icon">
                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect></svg>
               </div><span class="c-checkbox__label">Europe</span>
                           </label>
                         </li>
                         <li>
                           <label class="c-checkbox">
                             <input class="c-checkbox__input" type="checkbox"/>
                                 <div class="c-checkbox__icon">
                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect></svg>
               </div><span class="c-checkbox__label">Africa</span>
                           </label>
                         </li>
                         <li>
                             <label class="c-checkbox">
                               <input class="c-checkbox__input" type="checkbox"/>
                                   <div class="c-checkbox__icon">
                   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect></svg>
                 </div><span class="c-checkbox__label">Asia</span>
                             </label>
                           </li>
                       </ul>
                     </li>
                   </ul>
                 </div>


                </div>
            
           </div>
        </div>
    </div>
</div>


<div class="page-layout__content">
    <div class="page-layout__content-container">
        <div class="panel">
            <h3>Item Cost</h3>
           <div class="item-catalog__wrapper">
            <input type="range" class="SearchBox__input" >
           </div>
        </div>
    </div>
</div>



<button tnTooltipe="hello world"  class="Button Button--success" style="width: 100%;">Filter</button>