
<div class="page-layout__content">
    <div class="page-layout__content-container">
        <div class="panel">
           <div class="item-catalog__wrapper">
               <div class="col-1">
                  <div class="image-wrapper">
                      <img class="small-img" src="https://i2.wp.com/storage.googleapis.com/knawat-suppliers-img/bebismoda/102682BM1001-371/biyikli-gri-3-l_1593814132152.jpg?w=400" alt="">
                      <img class="small-img" src="https://i2.wp.com/storage.googleapis.com/knawat-suppliers-img/bebismoda/102682BM1001-371/biyikli-gri-3-l_1593814132152.jpg?w=400" alt="">
                      <img class="small-img" src="https://i2.wp.com/storage.googleapis.com/knawat-suppliers-img/bebismoda/102682BM1001-371/biyikli-gri-3-l_1593814132152.jpg?w=400" alt="">
                     
                  </div>
               </div>
               <div class="col-2">
                <img class="slider-img" src="https://i2.wp.com/storage.googleapis.com/knawat-suppliers-img/bebismoda/102682BM1001-371/biyikli-gri-3-l_1593814132152.jpg?w=400" alt="">
            </div>
            <div class="col-3">
                <h3>Snow Mountain Portable USB Humidifier</h3>
                <div class="item-info__wrapper">
                    <span>10 in stock</span>
                    <span>View product statistics</span>
                    <span>View product reviews</span>
                </div>
                <button class="Button Button--success">Add To Import List</button>

                <hr>

                <div class="item-options__wrapper">
                    <div class="left-option">
                        <strong>Price : </strong>
                        <strong>Color : </strong>
                        <strong>Shipping : </strong>
                        <strong>Supplier : </strong>
                    </div>
                    <div class="right-option">
                        <span>1000</span>
                        <span>
                            <button class="Button Button--default">defult</button>
                        </span>
                        <span>Free to Tunisia
                            Estimated delivery time 20-27 days</span>
                         <span>Adrian's Houseware Store</span>   
                    </div>
                </div>


            </div>
           </div>
        </div>
    </div>
</div>


<div class="page-layout__content">
    <div class="page-layout__content-container">
        <div class="panel">
           <div class="item-catalog__wrapper">
            <h3>Product statistics</h3>
           </div>
        </div>
    </div>
</div>



<div class="page-layout__content">
    <div class="page-layout__content-container">
        <div class="panel">
           <div class="item-catalog__wrapper">
            <h3>Product Description</h3>
           </div>
        </div>
    </div>
</div>
