<div id="stafotel-container" style="height:100%">
    <div style="height:100%">
      <div class="HomePageDesktop__root--3vTPR">
  
        <div class="HomePageDesktop__maxWidthClass--DEW5D">
          <header id="header">
            <div class="home-header">
  
              <a class="logo" href="/">
                SadarLy
              </a>
  
  
  
              <ul class="nav home-nav">
                <li>
                  <a>Dropshipping</a>
                </li>
                <li>
                    <a>Directory</a>
                </li>
                <li>
                  <a [routerLink]="['/login']">Login / Sign Up</a>
                </li>
                <li class="home-dropdown">
                  <a class="dropdown-toggle user-link" data-toggle="dropdown" href="javascript:" title="Admin">
  
                    <span class="m-l-5">
  
                      <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" style="fill: white;"
                        viewBox="0 0 24 24">
                        <path d="M4 6H20V8H4zM8 11H20V13H8zM13 16H20V18H13z" /></svg>
                    </span>
  
                  </a>
  
                </li>
              </ul>
  
            </div>
          </header>
          <div class="HeroDesktop__root--1t4g0">
            <div class="LazyLoadImage__imageContainer--3EOU_ HeroDesktop__heroImgContainer--1Gbo-">
              <div
                class="TemplateShimmer__shimmer--1HNwN TemplateShimmer__shimmerWrapper--Py2CJ TemplateShimmer__hidden--1oL9u">
              </div><img class="" src="https://assets.website-files.com/5b3213161e5234bf1cfff9e1/5f63d5c05c1e0bd5c20864db_hero-trending-image.png" alt="" itemscope="" itemprop="image">
            </div>
            <div class="HeroDesktop__infoDiv--2dZbd">
              <section><span class="HeroDesktop__name--1SpJ1">SadarLy Company</span>
                <h1>Discover top dropshipping suppliers of</h1>
                <h2> original US/EU/Africa products</h2>
                <p>SadarLy allows you to choose the best products to sell from thousands of dropshipping suppliers all over the world.</p>
                <div class="HeroDesktop__selectorWrapper--3b_zP">
                  <p>What do you need as service?</p>
                  <div class="">
                 
                    <div class="select">
                      <div class="label-select"><label for=""></label>
                        <div class="select-wrapper" >
                          <select id="" name="" class="category-select"  >
                            <option value="">Our Products </option>
                            <option class="select-option" >Dropship</option>
                            <option class="select-option" >Directory</option>
                          </select>
                          <div class="icon-select">
                            <svg width="16px" height="16px" viewBox="0 0 1024 1024" data-aut-id="icon" class=""
                                fill-rule="evenodd">
                                <path class="rui-u_VZV"
                                  d="M512 601.6l-268.8-264.533h-72.533v72.533l341.333 341.333 341.333-341.333v-72.533h-72.533l-268.8 264.533z">
                                </path>
                              </svg>
                          </div>
                        </div>
                      </div>
                    </div>
              
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
        <main>
  
          <div class="HomePageDesktop__wrapperTwo--1eFne">
            <div class="HomePageDesktop__maxWidthClass--DEW5D">
              <div class="WhyUrbanCompany__root--Vo9LS">
                <h2>Why SadarLy Company?</h2>
                <ul>
                  <li>
                    <div class="LazyLoadImage__imageContainer--3EOU_ WhyUrbanCompany__imgContainer--OmaLh">
                      <div
                        class="TemplateShimmer__shimmer--1HNwN TemplateShimmer__shimmerWrapper--Py2CJ TemplateShimmer__hidden--1oL9u">
                      </div><img class=""
                        src="https://res.cloudinary.com/urbanclap/image/upload/q_40,f_auto/categories/category_v2/category_29614d40.png"
                        alt="" itemscope="" itemprop="image">
                    </div>
                    <section class="WhyUrbanCompany__infoDiv--3AdNY">
                      <h3 class="WhyUrbanCompany__heading--2iWeA">Transparent pricing</h3>
                      <p class="WhyUrbanCompany__desc--1ZAQV">See fixed prices before you book. No hidden charges.</p>
                    </section>
                  </li>
                  <li>
                    <div class="LazyLoadImage__imageContainer--3EOU_ WhyUrbanCompany__imgContainer--OmaLh">
                      <div
                        class="TemplateShimmer__shimmer--1HNwN TemplateShimmer__shimmerWrapper--Py2CJ TemplateShimmer__hidden--1oL9u">
                      </div><img class=""
                        src="https://res.cloudinary.com/urbanclap/image/upload/q_40,f_auto/categories/category_v2/category_2cc7d0d0.png"
                        alt="" itemscope="" itemprop="image">
                    </div>
                    <section class="WhyUrbanCompany__infoDiv--3AdNY">
                      <h3 class="WhyUrbanCompany__heading--2iWeA">Experts only</h3>
                      <p class="WhyUrbanCompany__desc--1ZAQV">Our professionals are well trained and have on-job
                        expertise.</p>
                    </section>
                  </li>
                  <li>
                    <div class="LazyLoadImage__imageContainer--3EOU_ WhyUrbanCompany__imgContainer--OmaLh">
                      <div
                        class="TemplateShimmer__shimmer--1HNwN TemplateShimmer__shimmerWrapper--Py2CJ TemplateShimmer__hidden--1oL9u">
                      </div><img class=""
                        src="https://res.cloudinary.com/urbanclap/image/upload/q_40,f_auto/categories/category_v2/category_2caafa00.png"
                        alt="" itemscope="" itemprop="image">
                    </div>
                    <section class="WhyUrbanCompany__infoDiv--3AdNY">
                      <h3 class="WhyUrbanCompany__heading--2iWeA">Fully equipped</h3>
                      <p class="WhyUrbanCompany__desc--1ZAQV">We bring everything needed to get the job done well.</p>
                    </section>
                  </li>
                </ul>
              </div>
              <div class="QualityAssured__root--3_KsX">
                <div class="LazyLoadImage__imageContainer--3EOU_ QualityAssured__imgContainer--3UKFc">
                  <div
                    class="TemplateShimmer__shimmer--1HNwN TemplateShimmer__shimmerWrapper--Py2CJ TemplateShimmer__hidden--1oL9u">
                  </div><img class=""
                    src="https://res.cloudinary.com/urbanclap/image/upload/q_20,f_auto/categories/category_v2/category_cb4d9130.png"
                    alt="" itemscope="" itemprop="image">
                </div>
                <h3 class="QualityAssured__heading--3DL-2">100% Quality Assured</h3>
                <p class="QualityAssured__desc--10wnp">If you don’t love our service, we will make it right.</p>
              </div>
            </div>
          </div>
  
  
  
          <div class="BaseTemplate__container--2MeOm">
            <div class="BasePreviewComponent__container--3iVm6">
              <div class="Header__container--2xBVu">
                <h1 class="Header__heading--R4y67">Try the products yourself </h1><span
                  class="Header__label--1uVzF">Flat 50% off</span>
              </div>
              <div class="CategoryCollection__container--2W8Zz">
                <div class="b_e8c7"><span
                    class="b_m8c7 CategoryCollection__leftArrowClass--d5knP b_u8c7 CategoryCollection__disableStateArrowClass--ERBap"><span
                      class="b_o8c7" data-icon=""></span></span><span
                    class="b_q8c7 CategoryCollection__rightArrowClass--BzpxA b_u8c7 CategoryCollection__disableStateArrowClass--ERBap"><span
                      class="b_s8c7" data-icon=""></span></span>
                  <div class="b_g8c7" style="width: 1172px;">
                    <ul class="b_i8c7" style="width: 1172px; transform: translateX(0px);     display: flex;">
                      <li style="width:293px;margin:0 0px" class="b_k8c7">
                        <div class="CategoryCollection__item--1GXUq">
                          <div class="LazyLoadImage__imageContainer--3EOU_ CategoryCollection__imageContainer--BT-vB">
                            <div
                              class="TemplateShimmer__shimmer--1HNwN TemplateShimmer__shimmerWrapper--Py2CJ TemplateShimmer__hidden--1oL9u">
                            </div><img class="CategoryCollection__imageClass--365gP"
                              src="https://assets.website-files.com/5b3213161e5234bf1cfff9e1/5f63d5727e4e98109d2b7531_section-two.jpg"
                              alt="" itemscope="" itemprop="image">
                          </div>
                          <p class="CategoryCollection__title--2J8r_">integrated with SadarLy Lab</p>
                          <p class="CategoryCollection__subtitle--1No0B">Flat 50% off</p>
                        </div>
                      </li>
                      <li style="width:293px;margin:0 0px" class="b_k8c7">
                        <div class="CategoryCollection__item--1GXUq">
                          <div class="LazyLoadImage__imageContainer--3EOU_ CategoryCollection__imageContainer--BT-vB">
                            <div
                              class="TemplateShimmer__shimmer--1HNwN TemplateShimmer__shimmerWrapper--Py2CJ TemplateShimmer__hidden--1oL9u">
                            </div><img class="CategoryCollection__imageClass--365gP"
                              src="https://assets.website-files.com/5b3213161e5234bf1cfff9e1/5f63d573be52ebfe4e48081b_section-three.jpg"
                              alt="" itemscope="" itemprop="image">
                          </div>
                          <p class="CategoryCollection__title--2J8r_">Fulfill your orders with one click</p>
                        </div>
                      </li>
                      <li style="width:293px;margin:0 0px" class="b_k8c7">
                        <div class="CategoryCollection__item--1GXUq">
                          <div class="LazyLoadImage__imageContainer--3EOU_ CategoryCollection__imageContainer--BT-vB">
                            <div
                              class="TemplateShimmer__shimmer--1HNwN TemplateShimmer__shimmerWrapper--Py2CJ TemplateShimmer__hidden--1oL9u">
                            </div><img class="CategoryCollection__imageClass--365gP"
                              src="https://assets.website-files.com/5b3213161e5234bf1cfff9e1/5f63d5732d73a4c9d52fd522_section-four.jpg"
                              alt="" itemscope="" itemprop="image">
                          </div>
                          <p class="CategoryCollection__title--2J8r_">Order product </p>
                          <p class="CategoryCollection__subtitle--1No0B">Flat 50% off</p>
                        </div>
                      </li>
                      <li style="width:293px;margin:0 0px" class="b_k8c7">
                        <div class="CategoryCollection__item--1GXUq">
                          <div class="LazyLoadImage__imageContainer--3EOU_ CategoryCollection__imageContainer--BT-vB">
                            <div
                              class="TemplateShimmer__shimmer--1HNwN TemplateShimmer__shimmerWrapper--Py2CJ TemplateShimmer__hidden--1oL9u">
                            </div><img class="CategoryCollection__imageClass--365gP"
                              src="https://assets.website-files.com/5b3213161e5234bf1cfff9e1/5f63d574285c340391aa7bed_section-one.jpg"
                              alt="" itemscope="" itemprop="image">
                          </div>
                          <p class="CategoryCollection__title--2J8r_">
                            Find winning dropshipping products</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="HomePageDesktop__wrapperThree--3XM0a">
            <div class="HomePageDesktop__maxWidthClass--DEW5D">
              <section class="HomePageDesktop__appDownloadWrapper--3WFEF">
                <h2>Book professionals from your phone</h2>
                <p>Enter your mobile number to get the App download link.</p>
                <div class="AppDownloadSmsEmail__root--1jsVv">
                  <div class="AppDownloadSmsEmail__inpDiv--1N0Uc"><span
                      class="AppDownloadSmsEmail__countryCode--1dgRE"><img
                        src="https://images.urbanclap.com/image/upload//t_low_res_template/categories/category_v2/category_0cda2020.png"
                        alt="Country Flag" class="AppDownloadSmsEmail__countryFlag--F7DyQ"><span>+33</span></span><span
                      class="AppDownloadSmsEmail__icon--21_bD"><span data-icon=""></span></span>
                      
                      <input class="AppDownloadSmsEmail__inputEl--3QHvH AppDownloadSmsEmail__inpSms--23iHf" maxlength="50"
                      placeholder="Enter Mobile number" >
                    
                      <button
                      class="AppDownloadSmsEmail__appLinkCTA--FFDEP">Send</button></div>
                </div>
                <div class="HomePageDesktop__appLinks--1ZZGc"><a
                    href="https://app.appsflyer.com/com.urbanclap.urbanclap?pid=MobileWeb&amp;c=home_app_buttons">
                    <div class="LazyLoadImage__imageContainer--3EOU_ HomePageDesktop__linkContainer--2m8Gf">
                      <div
                        class="TemplateShimmer__shimmer--1HNwN TemplateShimmer__shimmerWrapper--Py2CJ TemplateShimmer__hidden--1oL9u">
                      </div><img class=""
                        src="https://images.urbanclap.com/image/upload/categories/category_v2/category_7f907eb0.png"
                        alt="Play Store" itemscope="" itemprop="image">
                    </div>
                  </a><a href="https://app.appsflyer.com/id1032480595?pid=MobileWeb&amp;c=home_app_buttons">
                    <div class="LazyLoadImage__imageContainer--3EOU_ HomePageDesktop__linkContainer--2m8Gf">
                      <div
                        class="TemplateShimmer__shimmer--1HNwN TemplateShimmer__shimmerWrapper--Py2CJ TemplateShimmer__hidden--1oL9u">
                      </div><img class=""
                        src="https://images.urbanclap.com/image/upload/categories/category_v2/category_7f741d10.png"
                        alt="App Store" itemscope="" itemprop="image">
                    </div>
                  </a></div>
              </section>
              <div class="HomePageDesktop__appImgWrapper--3OvLF">
                <div class="LazyLoadImage__imageContainer--3EOU_ HomePageDesktop__appImgContainer--19yvQ">
                  <div
                    class="TemplateShimmer__shimmer--1HNwN TemplateShimmer__shimmerWrapper--Py2CJ TemplateShimmer__hidden--1oL9u">
                  </div><img class=""
                    src="https://res.cloudinary.com/urbanclap/image/upload/w_300,f_auto/categories/category_v2/category_2d7045d0.png"
                    alt="" itemscope="" itemprop="image">
                </div>
                <div class="LazyLoadImage__imageContainer--3EOU_ HomePageDesktop__appImgContainer--19yvQ">
                  <div
                    class="TemplateShimmer__shimmer--1HNwN TemplateShimmer__shimmerWrapper--Py2CJ TemplateShimmer__hidden--1oL9u">
                  </div><img class=""
                    src="https://res.cloudinary.com/urbanclap/image/upload/w_350,f_auto/categories/category_v2/category_2d013050.png"
                    alt="" itemscope="" itemprop="image">
                </div>
              </div>
            </div>
          </div>
        </main>
  
      </div>
    </div>
  </div>
  
  